body {
    text-align: center;
    background-color: pink;
}

img {
    border-radius: 100px;
    max-width: 100%;
    height: auto;
}

@media (min-width: 1024px) {
    img {
        width: 700px;
        height: 600px;
    }
}
